[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim/bundle/smyck-vim"]
	path = vim/vim/bundle/smyck-vim
	url = https://github.com/brendonrapp/smyck-vim.git
[submodule "vim/vim/bundle/vim-vue"]
	path = vim/vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "bash/bash/git-aware-prompt"]
	path = bash/bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/vim-better-whitespace"]
	path = vim/vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bash/gnome-terminal-colors-smyck"]
	path = bash/gnome-terminal-colors-smyck
	url = https://github.com/vcavallo/gnome-terminal-colors-smyck.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/ansible-vim"]
	path = vim/vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "vim/vim/bundle/vim-ale"]
	path = vim/vim/bundle/vim-ale
	url = https://github.com/w0rp/ale
[submodule "vim/vim/bundle/vim-ctrlspace"]
	path = vim/vim/bundle/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
